.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: auto;
  width: 100%;
   
}
.header-color{
  width: 100%;
  background-color: #2C2C2C;
  
  display: flex;
  justify-content: center;
  padding-top:20px;
  padding-bottom: 20px;
}
.header{
  width: 1440px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
.header-logo img{
  display: flex;
  align-items: flex-start;
  width: 140px;
  height: 80px;
  object-fit: cover;
}
.header-navigation > a:nth-child(1){

 border-bottom: 2px solid white;
 line-height: 20px;
 border-top: 2px solid white;
  line-height: 20px;
}

.header-navigation {
  display: flex;
  gap: 2em;
  line-height: 12px;
  letter-spacing: 20%;
  
}
.header-navigation>a:nth-child(1){
    text-decoration: none;
  color:white;
}

.header-navigation>a:nth-child(2),
.header-navigation>a:nth-child(3),
.header-navigation>a:nth-child(4),
.header-navigation>a:nth-child(5)
{
  
  text-decoration: none;
  color:white;
  padding-top: 5px;
}
.main {
  margin-top: 20px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-left{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.main-left h1{
  line-height: 64px;
  color: #E5E5E5;
}
.main-left h2{
   line-height: 64px;
  color: #2C2C2C;
}
.main-right {
  width: 50%;
  height: 830px;
  
}
.slider {
  width: auto;
  padding-bottom:50px;
  
  height:830px;
}
.slider-cont{
  height: auto;
}
.slider-cont img{
  height: 830px;
  width: 770px;
}
.about{
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   width: 1440px;
   background: #FBFBFB;

}
.about-right-bttn{
  background: white;
  color: #333333;
  line-height: 12px;
  letter-spacing: 20%;
  width: 227px;
  height: 72px;
}

.foto1 {
  grid-area: foto1;
  display: flex;
  align-items: center;
}
.foto2 {
  grid-area: foto2;
  display: flex;
  align-items: center;
}
.foto3 {
  grid-area: foto3;
  display: flex;
  align-items: center;
}
  .about-left{
    display: grid;
    grid-template-areas:
    'foto1 foto3'
    'foto2 foto3';
    grid-gap: 30px;
   padding: 15px;
    width: 60%;
   
  }
  .about-left-image-3{
    height: 450px;
        width: 380px;
    object-fit: cover;

  }
    .about-left-image-1,.about-left-image-2{
    width: 350px;
    height: 300px;
    object-fit: cover;
    }
.about-right{
 display: flex;
 flex-direction: column;
 padding: 50px 200px 50px 200px ;
}

.about-right h1{
  line-height: 64px;
  color: #E5E5E5;
}

.about-right button{
  margin-top: 230px;
}
.m-focus{
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.m-focus > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.m-focus-header{
  text-align: start ;
  line-height: 64px;
  color:#E5E5E5;
}
.m-focus>div p:nth-child(1){
  font-size: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 20px 15px 0px;
  line-height: 64px;
  color:#E5E5E5;
}
.m-focus-1{
  padding-right: 250px;
}
.m-focus>div p:nth-child(2){
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.our-proje-header{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  line-height: 64px;
  color:#E5E5E5;
  width:364px;
  height: 64px;
}
 .our-proje-foto{
   display: flex;
   width: 1440px;
 }
.our-proje-foto1{
  grid-area: our-foto1;
  display: flex;
  justify-content: center;
}
.our-proje-foto2{
  grid-area: our-foto2;
  display: flex;
  justify-content: center;
}
.our-proje-foto3{
  grid-area: our-foto3;
  display: flex;
  justify-content: center;
}
.our-proje-foto4{
grid-area: our-foto4;
  display: flex;
  justify-content: center;
}
.our-proje-foto5{
  grid-area: our-foto5;
  display: flex;
  justify-content: center;
}
.our-pro-img{
  object-fit: cover;
  width: 100%;
  height: 300px;
}
a{
  width: 100%;
  text-decoration: none;

}

.our-proje-foto{
  display:grid;
  grid-template-areas: 
  'our-foto1 our-foto1 our-foto1 our-foto2 our-foto2 our-foto2' 
  'our-foto3 our-foto4 our-foto4 our-foto4  our-foto5 our-foto5';
  grid-gap: 30px;
  padding: 15px;
  width: 1440px;
}
.our-proje-a{
  text-transform: none;
  cursor: pointer;
}
.our-pro-bttn{
  display: flex;
  justify-content: flex-end;
 
}
.our-pro-bttn>button{
  padding: 20px;
  margin-bottom:50px ; 
  background: #2C2C2C;
  color: white;
  line-height: 12px;
  letter-spacing: 20%;
}
.contact{
  display: flex;
  justify-content: space-between;
  width: 1440px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 width: 40%;
 padding: 0 8% 0 0 ;
 gap: 5%;
}
.contact-left >input , textarea{
  width: 100%;
  padding: 2%;
  background: #F3F3F3;
  border: none;
}


input::placeholder{
  
  color:black;
  opacity: 0.5;
}
textarea::placeholder{
   color:black;
  opacity: 0.5;
}
.contact-header{
  line-height: 64px;
  color: #E5E5E5;

}
.contact-right{
  width: 60%;
}
.contact-right>img{
 width: 100%;
 height: 350px;
  object-fit: cover;
}
.contact-btn{
  margin-top: 30px;
  height: 71px;
  width: 221px;
  color: white;
  background-color: #2C2C2C;
}
.footer-color{
  margin-top: 35px ;
  width: 100%;
  background: #2C2C2C;
  display:flex;
  justify-content: center;
}
.footer{
  width: 1440px;
  
}


.footer-top{
  
  display: flex;
  justify-content:space-between ;
  
  flex-direction: row;
}
.footer-logo{
  width: 15%;
  display: flex;

}
.footer-logo-img{
  padding-left: 0px;
  padding-top: 90px;
  object-fit: cover;
}
.footer-logo-img img{
  width:145px ;
  height: 94px;
}
.information{
  width: 20%;
}
.information-item{
  display: flex;
  flex-direction: row;
  padding: 15px;
color: white;}

.information-item > a{
  color: white;
}
.contact-foot{
  width: 30%;
}
.contact-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px;
  color: white;
}
.contact-item > p > .fa {
  margin-right:  20px;
}

.social-media{
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  color: white;
}

.social-media-item{
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  gap:5px;
  text-decoration: none; 
  
}

.social-media-item > a{
  color: white;
  
}



.footer-bottom{
  
 text-align: center;
  border-top: 1px solid  #ddc3c369 ;
  padding: 20px 0px ;
  color: #C8C8C8;
}
.footer-bottom span {
  color: brown;
  font-weight: bold;
}

.gallery{
  display: flex;
    justify-content: start;
  flex-direction: column;
  width: 1440px;
}
.gallery-header{
  display: flex;
  justify-content: flex-start  ;
  align-items: flex-start ;
  flex-direction: column;

}

.gallery-head{
  justify-content: flex-start ;
  text-align: start;
  line-height: 64px;
  color: #E5E5E5;  margin: 0px;
  padding: 0px;
}
.gallery-head1{
  justify-content: flex-start;
  text-align: start;
  line-height: 64px;
  color: black;  margin: 0px;
  padding: 0px;
}

.pro{
  width: 1440px;
  display: flex;
  flex-direction: column;
  
}
.pro-header{
  
}
.pro-header h1{
  
  color: black;
}
.pro-header-gri{
color: #E5E5E5;

}

.pro-list-item{
  background: #E5E5E5;
  display: flex;
  justify-content: space-between;
  margin: 55px 0px;
}
.pro-list-right{
  padding-right: 50px;
}
.pro-list-right img{
  width: 670px;
  height: 435px;
  object-fit: cover;
}
.pro-list-left{
  
  padding: 20px 0px;
}
.pro-list-left h2{
  color: grey;
  font-weight: 300;
  font-size: 40px;
}
.pro-list-p{
  padding: 30px 100px 50px 0;
}
.pro-list-p p{
    font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}
.pro-list-btn{
 
}
.pro-list-btn button{
  background: white;
  border: none; width: 222px;
  height: 71px;
}

.pro-exp-modal{
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 40px 40px 40px;
}
.pro-exp-header{
  display: flex;

justify-content: center;
}
.pro-exp-header p{
color: black;
font-size: 30px;

}
.pro-exp-head-gri{
  color: grey;
}
.pro-exp-up{
  padding: 0 0 20px 0;
}
.pro-exp-up img{
  height: 200px;
  width: 1300px;
object-fit: cover;
}
.pro-exp-mid{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1300px;
}
.pro-exp-left {
  width: 500px;
  
}
.pro-exp-left img{
  width: 500px;
  height: 250px;
  object-fit: cover;
}
.pro-exp-right{

  justify-content: center;
padding-bottom: 20px;
}
.pro-exp-down img{
height: 200px;
  width: 1300px;
  object-fit: cover;
}
.contactpage{
  padding: 5%;
  width: 1440px;
 display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}
.contactpage-left{
  
  display: flex;
  justify-content: center;
gap: 80px;
  flex-direction: column;
  align-items:flex-start;  
  font-size: 170px;
}
.contactpage-header{
  display: flex;
  justify-content: flex-start  ;
  align-items: flex-start ;
 
}
.contact-left-list-company{
  font-weight: bold;
  font-size: 18px;
}
.company-address{
 
  color: #BDBDBD;
}
.contact-left-list-telephone{
  font-size: 18px;
  font-weight: bold;
}
.contact-left-list-btn button{
  width: 221px;
  height: 71px;
  background: #333333;
  color: white;
}
.contact-left-list-article{
  font-size: 30px;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
